body {
	margin: 0;
	padding: 0;
	display: flex;
	background-image: 
		linear-gradient(rgba(255, 253, 208, 0.6), rgba(255, 253, 208, 0.6)), 
            url('537179528_1159372719558435_4548563004784225889_n.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
	align-content: center !important;
	font-family: Roboto, sans-serif;
	background-color: #f0f0f0;
	min-height: 100vh;
}
.menu {
	position: static;
	background: rgba(24, 119, 242, 0.9); /* Màu xanh nhưng có độ trong suốt */
    backdrop-filter: blur(10px);        /* Hiệu ứng kính mờ xuyên thấu */
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 30px;                          /* Khoảng cách giữa các mục */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.menu a {
	text-decoration: none;
	color: white;
	font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 20px;       /* Bo tròn các nút mục */
    transition: all 0.3s ease; /* Hiệu ứng chuyển động mượt */
    text-transform: uppercase; /* Chữ in hoa cho chuyên nghiệp */
    letter-spacing: 1px;       /* Giãn chữ ra một chút */
}
.menu a:hover {
	background: white;
	color: blue;
	 transform: translateY(-3px); /* Nút hơi nảy lên */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
img {
	margin: auto;
	text-align: center;
	display: block;
}
.img-frame {
	border: 20px solid #99CCFF;
	border-radius: 10px;
	box-shadow: 0 5px 12px #99CCFF;
}
.img-link {
	display: inline-block;
	transition: 5s ease;
}
.img-link area:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 25px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
}
@media screen {
	.box {
		width: 700px;
		height: 495px;
		border-width: 3px;
	}
}
